header {
  font-family: "Source Sans 3";
  background-color: white;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.header-main-menu {
  height: 33.33%;
}

.header-main-menu .col-12 {
  display: flex;
  justify-content: flex-end;
}

.header-main-menu div {
  display: flex;
  align-items: center;
}

.booking-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-link {
  position: relative;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  color: black;
  transition: color 0.6s;
}

.booking-link:hover {
  color:rgb(91, 91, 91);
  text-decoration: none;
}

.booking-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.3s ease;
}

.booking-link:hover::after {
  width: 100%;
}

.header-link {
  position: relative;
  font-size: 28px;
  font-weight: 300;
  color: black;
  transition-duration: 0.6s;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.3s ease;
}

.header-link:hover::after {
  width: 100%;
}

  
.header-link:hover {
  color:rgb(91, 91, 91);
  text-decoration: none;
}